Arquivo .gitignore
Ignorar a pasta do ambiente virtual
dashboard_imoveis/.venv/
.venv/

Ignorar as pastas de cache do Python
dashboard_imoveis/pycache/
pycache/
*.pyc

Ignorar arquivos de sistema do macOS e Windows
dashboard_imoveis/.DS_Store
.DS_Store
Thumbs.db